{% extends "itreporting/base.html" %}
{% block content %}
    <h1> Home page for Module Registration </h1>
</div>

    <div class="col-md-4">
        <div class="content-section">
            <h3>Available Courses</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class = "mr-2" href = "">BSc Information Technology</a></li>
                <li class="list-group-item list-group-item-light">Bsc Cyber Security</li>
                <li class="list-group-item list-group-item-light">Bsc Smart Computing</li>
              </ul>
        </div>
    </div>
{% endblock content %}